
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";  
}

    <br />

    <div class="row content"  >
        <div>
            <div class="col-md-offset-1">
                <div class="col-md-6" style="border:double; width:500px;">
                    <h2 style="font-family:'Bookman Old Style'">Free Online Classified Ads</h2><br />
                    <img src="../Images/ab1.jpg" style="width:450px"/>
                    <label>This website has been launched because we saw the need for a place where the local community within a city could come together, meet, trade and help each other in many ways. Community members can come here to find an apartment to live in, sell their old car, bike ,music system, laptop or furniture, promote their small business, find a tuition class or get a break as a model or actor, join a salsa class, get an audience for a local event, buy any item that they might want or have to offer and make new friends while doing all of the above.</label>
                 </div>
            </div>
            <div class="col-xs-offset-6" >
                <div class="col-xs-6" style="border:double; width:500px;">
                    <h1 style="font-family:'Bookman Old Style'">About Us<br /></h1><br />
                    <img src="../Images/rbuy.jpg" style="width:450px; height:230px"/><br />
                    <label><br/>This website is the next generation of free online classifieds. It provides a simple solution to the complications involved in selling, buying, trading, discussing, organizing, and meeting people near you, wherever you may reside. On this website you can: Easily design rich ads with pictures. Control your selling, buying, and community activity in My OLX Display your ads on your social networking profile. Access the site from your mobile phone as per your need. View it in your local language</label>
                </div>
            </div>
        </div>
    </div>
