<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Bootstrap Core CSS -->
    <link href="../Library/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../CSS/offcanvas.css" rel="stylesheet">

</head>
<body>
    <div class="row content">
        <div class="col-md-7">
            <div class="col-md-offset-4">
                <h2>Catagory: Laptops</h2><hr/>
                <img src="../Images/laptop.jpg" style="height:300px"/>
                <h4>Title : HP 15</h4>
                <h4>Brand : 5th Generation</h4>
                <h4>Used  : New</h4>
                <h4>Description :  Intel Core i5-5200U Processor (2 Cores - 4 Threads) 2.2 GHz Turbo Boost 2.7 (3 MB Cache, Broadwell). </h4>
                <h4>Hard Drive  : 500 GB </h4>
                <h4>RAM   : 4 GB </h4>
                <h4>Screen: 15.6" HD</h4>
                <h4>Price : 46,990 PKR</h4>
            </div>
        </div>
    </div>
</body>
</html>
