<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Bootstrap Core CSS -->
    <link href="../Library/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../CSS/offcanvas.css" rel="stylesheet">

</head>
<body>
    <div class="row content">
        <div class="col-md-7">
            <div class="col-md-offset-4">
                <h2>Catagory: Vehicles</h2><hr/>
                <img src="../Images/bike.jpg" style="height:300px"/>
                <h4>Title : Honda 125</h4>
                <h4>Brand : 2012</h4>
                <h4>Used  : Used</h4>
                <h4>Milage: 30 km/litre</h4>
                <h4>Price : 65,000 PKR</h4>
            </div>
        </div>
    </div>
</body>
</html>
