
@{
    Layout = "~/Views/Shared/_Layout2.cshtml"; 
}


    <br /><br />

    <h1 style="text-align: center; font-family:'Arabic Typesetting'; font-size:60px">Free Online Classified Ads</h1>
    
        <!-- 2nd div -->
        <div class="col-md-offset-4" style="font-size:15px">
                    <div>
                        <h3>
                            Step 1:
                        </h3>
                        <p>Click Post Ads Here Button to post your ad.</p><br/></div>

                        <div>
                        <h3>
                            Step 2:
                        </h3>
                        <p>Fill the details of your item.</p>
                        <p>Attach a picture of item.</p>
                        <p>Fill out the personal details form.</p><br/></div>

                        <div>
                        <h3>
                            Step 3:
                        </h3>
                        <p>Your classified ad is posted.</p>
                        <p>Visit the category to see your classified ad.</p><br/></div>
                    </div>